nav{
	font-family: "Dosis", sans-serif;
	font-optical-sizing: auto;
	font-weight: bold;
	font-style: normal;
	font-size: 20px;
}

img{
	opacity: 0.85;
}

hr{
	height: 2px;
	background-color: #000000;
}

section{
	font-family: "Dosis", sans-serif;
	font-optical-sizing: auto;
	font-weight: bold;
	font-style: normal;
	background: linear-gradient(to bottom, #F6E8E4, #ffffff);
}

header{
	background: linear-gradient(to bottom, #EDCEC9, #F5E6E0, #F6E8E4);
}
nav ul li{
	line-height: 55px;
}

p{
	font-size: large;
}
.nav-link{
	font-weight: 500;
}

.btn:active {
    box-shadow: 2px 2px 5px #f7c705;
    transform: scale(0.95); /* Efecto de presión */
}

.form-control{
	border: 0 !important;
	margin-bottom: 10px !important;
}
button.nav-link{color:#000!important;}
button.nav-link.active{color:#000!important; 
	background-color: transparent!important; 
	border: none!important;
	
}
